{% extends 'base.html' %}

{% block content %}

<section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            {{ bnuser.name }}
        </h1>
        <h2 class="subtitle">
          @{{ username }}
        </h2>

        {% if url is not None or bnuser.ID is url %}

        <form method="POST" action="/follow_user/">
            {% csrf_token %}
            <div class="buttons">
                <button class="button is-light is-info" style="font-family: Avenir" type="submit" name='follow_user' value='{{ bnuser.ID }}'>
                    <strong>Follow</strong>
                </button>
            </div>
        </form>
        <!-- <button class="button is-light is-info"><strong>Follow</strong></button> -->
        {% endif %}

      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column is-one-quarter">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">About {{ bnuser.name }}</h2>
                <br/>

                <div class="notification is-light">
                  {{ bnuser.bio }}
                </div>

                <h2 class="title is-5">Following</h2>

                {% for follower in followers %}

                <div class="notification is-light">
                    <strong><a href="{% url 'profile' follower.follower_id %}">{{ follower.follower_name }}</a></strong>
                </div>

                {% endfor %}

            </div>
        </section>
    </div>
    <div class="column">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">Recent Activity</h2>
                <h3 class="subtitle is-5">Read {{ bnuser.name }}'s Recent Reviews.</h3>

                {% for review in reviews %}

                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <a class="title is-4" style="cursor: pointer; color: #80BDFE"><strong>{{ review.review_title }}</strong></a>
                                <br/><br/>
                                <p class="subtitle is-6">
                                    <strong>Written by <a href="{% url 'profile' review.author %}">@{{ review.author_name }}</a></strong>
                                </p>
                                
                            </div>
                        </div>

                        <div class="content">
                            {{ review.review_content }}
                            <br></br>
                            <time datetime="2016-1-1" style="font-size: 12px;">{{ review.time }}</time>
                        </div>

                        <a class="button" href="{% url 'book' review.book_title %}">{{ review.book_name }}</a>
                    </div>
                </div>

                <br>

                {% endfor %}

                <br>

            </div>
        </section>
    </div>
    <div class="column is-one-fifth"></div>
</div>

{% endblock %}