{% extends 'base.html' %}

{% block content %}

<section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            {{ bnuser.name }}
        </h1>
        <h2 class="subtitle">
          @{{ username }}
        </h2>
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column is-one-quarter">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">About {{ bnuser.name }}</h2>
                <!-- <h3 class="subtitle is-5">28 // Seoul, South Korea</h3> -->
                <!-- {% if student.picture_is_not_null %}
                <figure class="image">
                    <img src="{{ student.picture }}">
                </figure>
                {% endif %} -->
                <br>

                <div class="notification is-light">
                  {{ bnuser.bio }}
                </div>

                <h2 class="title is-5">Following</h2>

                <div class="notification is-info">
                    <strong><a href="/">Karen Yen</a></strong>
                    <p>20 // Taiwan</p>
                </div>

                <div class="notification is-info">
                    <strong><a href="/">Mythili B</a></strong>
                    <p>20 // California, US</p>
                </div>

                <div class="notification is-info">
                    <strong><a href="/">Vivian Chiang</a></strong>
                    <p>21 // California, US</p>
                </div>

                <div class="notification is-info">
                    <strong><a href="/">Carol Li</a></strong>
                    <p>20 // Vancouver, Canada</p>
                </div>

            </div>
        </section>
    </div>
    <div class="column">
        <section class="section">
            <div class="container">
                <h2 class="title is-4">Recent Activity</h2>
                <h3 class="subtitle is-5">Read {{ bnuser.name }}'s Recent Reviews.</h3>

                {% for review in reviews %}

                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">{{ review.title }}</p>
                                <!-- <p class="subtitle is-6">Wrtten by <a href="/">@{{ review.author }}</a></p> -->
                            </div>
                        </div>
                        
                        <div class="content">
                            <h4><a style="color: #ffc21c" href="/">{{ review.book_title }}</a></h4>
                        </div>

                        <div class="content">
                            {{ review.review_content }}
                        </div>
                    </div>
                </div>

                <br>

                {% endfor %}

                <br>

            </div>
        </section>
    </div>
    <div class="column is-one-fifth"></div>
</div>

{% endblock %}