{% extends 'base.html' %}

{% load socialaccount %}

{% block content %}

<div class="columns">
    <div class="column is-one-third"></div>
    <div class="column">
        <h1 class="title">Log into your BookNook account.</h1>
        <h2 class="subtitle">Enter your username and password below.</h2>
        </br>

        <form method="POST" action="/user_login_view/">
            {% csrf_token %}
            <div class="box">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                      <input name="username" class="input" type="text" placeholder="e.g. saltyfugu">
                    </div>
                </div>
                  
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                    <input name="password" class="input" type="password">
                    </div>
                </div>  
                <div class="buttons has-addons is-centered">
                    <input type="submit" value="Login" class="button is-info" style="font-family: Avenir; font-weight: 600;"></input>
                    <a href="/register" 
                        class="button is-light">
                        <strong>Register</strong>
                    </a>
                </div>

            </div>
            <div class="box">
                <strong>Other ways to log in:</strong>
                <br/><br/>
                {% csrf_token %}
                <a class="button" href="{% provider_login_url 'google' %}">Login With Google</a>
                <a class="button" href="{% provider_login_url 'facebook' %}">Login With Facebook</a>
            </div>
        </form>
        

    </div>
    <div class="column is-one-third"></div>
</div>

{% endblock %}