<style>
    html * {
      font-family: 'Avenir';
      font-weight: 400;
    }
  </style>
  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>BookNook</title>
      <!-- bulma -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
      <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    <body>
      <nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="https://i.imgur.com/dwjxvsA.png">
            </a>
            
            {% if user.is_authenticated %}

            <a class="navbar-item" href="/timeline">
                Timeline
            </a>
            <a class="navbar-item" href="/books">
                Book Directory
            </a>
            <a class="navbar-item" href="/profile">
                Profile
            </a>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class=buttons>
                        <a class="button is-light" href="/logout_view/"><strong>Logout</strong></a>
                    </div>
                </div>
            </div>

            {% else %}

            <a class="navbar-item" href="/login/">
              Login
            </a>
            <a class="navbar-item" href="/register/">
              Register
            </a>


           {% endif %}

        </nav>

        {% block content %}
  
        {% endblock %}

    </body>
  
  </html>