
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            Book Directory
        </h1>
        <h2 class="subtitle">
            View and find book titles.
        </h2>
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        <br>
        <form method="GET" action="{% url 'books' %}">
          {% csrf_token %}
          <input name="search_params" class="input is-rounded" type="text" placeholder="🔎  Search for a book...">
        </form>

        <a class="btn btn-primary" href="/authors">Get Top 10 Authors</a>

        <a class="btn btn-primary" href="/mostreviews">Get Top 10 Most-Reviewed Books</a>

        <form method="GET" action="{% url 'books' %}">
          {% csrf_token %}
          <input name="authors_params" class="input is-rounded" type="text" placeholder="🔎  Enter a author to get their top 10 books...">
        </form>

        <br><br>
        <div class="columns is-multiline">
            <!-- add the loop here -->
            {% for book in books %}
            <div class="column is-one-third">
                <!-- <div class="notification is-light">
                    <strong>Title</strong>
                    <p>Author // Rating</p>
                    <br>
                    <a class="button is-small is-dark is-fullwidth" href="/">View</a>
                 </div> -->
                 <div class="card">
                  <!-- <div class="card-image">
                    <figure class="image is-3by4">
                      <img src="https://static.wikia.nocookie.net/warner-bros-entertainment/images/5/59/Hp6_poster_se.jpg/revision/latest?cb=20161020172951" alt="Placeholder image">
                    </figure>
                  </div> -->
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <p class="title is-4">{{book.title}}</p>
                        <p class="subtitle is-6">Author(s): {{book.authors}} <br>
                          Average Rating: {{book.average_rating}}</p>
                      </div>
                    </div>
                    <!-- <div class="content">
                        Synopsis: As the Harry Potter sequence draws to a close, Harry's most dangerous adventure yet is just beginning . . . and it starts July 16, 2005.
                        We could tell you, but then we'd have to Obliviate your memory.
                        <br>
                      </div> -->
                    </div>
                  </div>
            </div>
            <!-- end the loop here -->
            {% endfor %}
        </div>
    </div>
<div class="column is-one-fifth"></div>

{% endblock %}