
{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            Book Directory
        </h1>
        <h2 class="subtitle">
            View and find book titles.
        </h2>
      </div>
    </div>
</section>

<div class="columns">
    <div class="column is-one-fifth"></div>
    <div class="column">
        <br>
        <a class="button" href="/authors">Get Top 10 Authors</a>
        <a class="button" href="/mostreviews">Get Top 10 Most-Reviewed Books</a>
        <a class="button" href="/topreviewers">Get Top 10 Reviewers</a>

        <br/><br/>

        <form method="GET" action="{% url 'books' %}">
          {% csrf_token %}
          <input name="search_params" class="input is-rounded" type="text" placeholder="🔎  Search for a book...">
        </form>

        <form method="GET" action="{% url 'books' %}">
          {% csrf_token %}
          <input name="authors_params" class="input is-rounded" type="text" placeholder="🔎  Enter an author to get their top books...">
        </form>

        <form method="GET" action="{% url 'books' %}">
          {% csrf_token %}
          <input name="genre_params" class="input is-rounded" type="text" placeholder="🔎  Enter a genre to see the top books for that genre...">
        </form>

        <form method="GET" action="{% url 'books' %}">
          {% csrf_token %}
          <input name="year_params" class="input is-rounded" type="text" placeholder="🔎  Enter a year to see books from then onwards...">
        </form>

        <form method="GET" action="{% url 'books' %}">
          {% csrf_token %}
          <input name="recommended_params" class="input is-rounded" type="text" placeholder="🔎  Enter a book title to get a recommendation...">
        </form>

        <br><br>
        <div class="columns is-multiline">
            <!-- add the loop here -->
            {% for book in books %}
            <div class="column is-one-third">
              <div class="card">
                <div class="card-content">
                  <div class="media">
                    <div class="media-content">
                      <p class="title is-4">
                        <a href="{% url 'book' book.id %}" style="color: black; cursor: pointer"><strong>{{ book.title }}</strong></a>
                      </p>

                    </div>
                  </div>
                  <div class="content">
                    <a style="cursor: default; color: #80BDFE"><strong>Author:</strong></a> {{ book.authors }}
                    <br/>
                    <a style="cursor: default; color: #80BDFE"><strong>Rating:</strong></a> {{ book.rating }}
                  </div>
                </div>
              </div>

              <br/>
            </div>

            {% endfor %}

        </div>
    </div>
<div class="column is-one-fifth"></div>

{% endblock %}